body {
    background-color: whitesmoke;
    font-family: "Segoe UI", "Lucida Grande", sans-serif;
}

#container {
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;

    background-color: white;
    box-shadow: 2px 2px 5px lightgrey;
    border-radius: 5px;
}

#title {
    margin: 0px;
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}

#inputs {
    padding: 0px;
}

#fields * {
    padding: 8px 20px 6px 8px;
    width: 100px;
    background-color: whitesmoke;
    border-color: grey;
    border-width: 0px;
    border-bottom-width: 2px;
}

::placeholder {
    font-family: "Segoe UI", "Lucida Grande";
}

#checkboxes {
    padding: 5px;
}

button {
    margin-top: 20px;
    padding: 5px 10px;
    border-color: lightgrey;
    border-width: 1px;
    font-family: inherit;
}