body {
    background-color: whitesmoke;
    font-family: "Segoe UI", "Lucida Grande", sans-serif;
    text-align: center;
}

h1 {
    margin: 0 0 10px 0;
}

#container {
    margin: auto;
    padding: 10px;
    width: 400px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgrey;
}

#inputs {
    margin: 10px;
}

#checkboxes {
    margin: 10px;
    user-select: none;
}

#button {
    margin: 10px;
}

input[type="text"] {
    margin: 0 5px;
    padding: 4px 8px 2px 8px;
    width: 100px;

    background-color: whitesmoke;
    font-family: inherit;
    font-size: inherit;
    border-width: 0 0 2px 0;
}

input[type="text"]:focus {
    outline: none;
    border-color: steelblue;
}

button {
    padding: 4px 8px;

    color: steelblue;
    font-family: inherit;
    font-size: inherit;
    border-width: 0;
}